<h6>Create Horse</h6>
<a href="/">Back</a>

<form action="/create_horse" method="post">
	<label>Name</label>
	<input type="text" name="name">
	<br>
	<!-- { name: ""} -->
	<label>Age</label>
	<input type="text" name="age">
	<br>
	<label>Breed</label>
	<input type="text" name="breed">
	<br>
	<label>Color</label>
	<input type="text" name="color">
	<br>
	<label>Weight</label>
	<input type="text" name="weight">
	<br>
	<input type="submit" value="Create Horse">
</form>
